<h1>Alchemy</h1>
<hr class="sheet-separator"/>

<comp-pc-alchemy-topline></comp-pc-alchemy-topline>

<hr class="sheet-separator"/>
<h2>Actions</h2>

<comp-pc-alchemy-actions></comp-pc-alchemy-actions>

<hr class="sheet-separator"/>

<div class="sheet-alchemy-bottom">
    <input type="hidden" class="sheet-tabstoggle" name="attr_alchemyTab" value="0" />
    <div>
        <button type="action" name="act_elixirs" class="sheet-button0">Elixirs</button>
        <button type="action" name="act_potions" class="sheet-button1">Potions</button>
        <button type="action" name="act_infusions" class="sheet-button2">Infusions</button>
    </div>

    <!-- Elixirs -->
    <div class="sheet-tab0 sheet-alchemy-elixirs">
        <comp-pc-alchemy-elixirs></comp-pc-alchemy-elixirs>
    </div>

    <!-- Potions -->
    <div class="sheet-tab1 sheet-alchemy-potions">
        <comp-pc-alchemy-potions></comp-pc-alchemy-potions>
    </div>

    <!-- Infusions -->
    <div class="sheet-tab2 sheet-alchemy-infusions">
        <comp-pc-alchemy-infusions></comp-pc-alchemy-infusions>
    </div>
</div>