<h1>Combat</h1>

<hr class="sheet-separator"/>

<comp-pc-combat-topline></comp-pc-combat-topline>

<div class="sheet-combat-bottom">
    <div class="sheet-combat-bottom-left">
        <!-- Death Tests -->
        <comp-pc-combat-death-tests></comp-pc-combat-death-tests>

        <!-- Armor -->
        <comp-pc-combat-armor></comp-pc-combat-armor>

        <!-- Ammunition -->
        <comp-pc-combat-ammunition></comp-pc-combat-ammunition>
    </div>

    <div class="sheet-combat-bottom-right">
        <!-- Movement Speed -->
        <div class="sheet-movementspeed">
            <input type="text" name="attr_movementspeed" />
            <label>Movement Speed</label>
        </div>

        <!-- Vulnerabilities, Resistances, Immunities -->
        <div>
            <h2>Vulnerabilities, Resistances, Immunities</h2>
            <textarea name="attr_vulnerabilitesResistancesImmunities" />
        </div>

        <!-- Conditions -->
        <div>
            <h2>Conditions</h2>
            <textarea name="attr_conditions" />
        </div>

        <!-- Shield -->
        <comp-pc-combat-shield></comp-pc-combat-shield>

        <!-- Melee Weapons -->
        <comp-pc-combat-melee-weapons></comp-pc-combat-melee-weapons>

        <!-- Ranged Weapons -->
        <comp-pc-combat-ranged-weapons></comp-pc-combat-ranged-weapons>
    </div>
</div>