<h1>Engineering</h1>
<hr class="sheet-separator"/>

<comp-pc-engineering-topline></comp-pc-engineering-topline>

<hr class="sheet-separator"/>

<comp-pc-engineering-augmentation-actions></comp-pc-engineering-augmentation-actions>
<comp-pc-engineering-automachinery-actions></comp-pc-engineering-automachinery-actions>
<comp-pc-engineering-cwm-actions></comp-pc-engineering-cwm-actions>
<comp-pc-engineering-gunsmithing-actions></comp-pc-engineering-gunsmithing-actions>
<comp-pc-engineering-tinkering-actions></comp-pc-engineering-tinkering-actions>
<comp-pc-engineering-vehiclemechanics-actions></comp-pc-engineering-vehiclemechanics-actions>

<hr class="sheet-separator"/>

<div class="sheet-engineering-bottom">
    <input type="hidden" class="sheet-tabstoggle" name="attr_engineeringTab" value="blueprints" />
    <div>
        <input class="sheet-tab-condition" type="checkbox" name="attr_show_clockworkmechanics" />
        <button type="action" name="act_cwmTab" class="sheet-button0 sheet-tab">Clockwork Mechanics</button>
        <input class="sheet-tab-condition" type="checkbox" name="attr_show_automachinery" />
        <button type="action" name="act_automachineryTab" class="sheet-button1 sheet-tab">Automachinery</button>
        <input class="sheet-tab-condition" type="checkbox" name="attr_show_augmentation" />
        <button type="action" name="act_augmentationTab" class="sheet-button2 sheet-tab">Augmentation</button>
        <input class="sheet-tab-condition" type="checkbox" name="attr_show_gunsmithing" />
        <button type="action" name="act_gunsmithingTab" class="sheet-button3 sheet-tab">Gunsmithing</button>
        <input class="sheet-tab-condition" type="checkbox" name="attr_show_tinkering" />
        <button type="action" name="act_tinkeringTab" class="sheet-button4 sheet-tab">Tinkering</button>
        <input class="sheet-tab-condition" type="checkbox" name="attr_show_vehiclemechanics" />
        <button type="action" name="act_vehiclemechanicsTab" class="sheet-button5 sheet-tab">Vehicle Mechanics</button>
    </div>

    <!-- Clockwork Mechanics -->
    <div class="sheet-tab0 sheet-cwm">
        <comp-pc-engineering-clockwork-mechanics></comp-pc-engineering-clockwork-mechanics>
    </div>

    <!-- Automachinery -->
    <div class="sheet-tab1 sheet-automachinery">
        <comp-pc-engineering-automachinery></comp-pc-engineering-automachinery>
    </div>

    <!-- Augmentation -->
    <div class="sheet-tab2 sheet-augmentation">
        <comp-pc-engineering-augmentation></comp-pc-engineering-augmentation>
    </div>

    <!-- Gunsmithing -->
    <div class="sheet-tab3 sheet-gunsmithing">
        <comp-pc-engineering-gunsmithing></comp-pc-engineering-gunsmithing>
    </div>

    <!-- Tinkering -->
    <div class="sheet-tab4 sheet-tinkering">
        <comp-pc-engineering-tinkering></comp-pc-engineering-tinkering>
    </div>

    <!-- Vehicle Mechanics -->
    <div class="sheet-tab5 sheet-vehiclemechanics">
        <comp-pc-engineering-vehicle-mechanics></comp-pc-engineering-vehicle-mechanics>
    </div>
</div>