<!-- Fire Essence -->
<div class="sheet-item">
    <comp-sheet-resource
        label="Fire"
        prefix="essence_fire"
        min="0"
    ></comp-sheet-resource>
</div>

<!-- Water Essence -->
<div class="sheet-item">
    <comp-sheet-resource
        label="Water"
        prefix="essence_water"
        min="0"
    ></comp-sheet-resource>
</div>

<!-- Earth Essence -->
<div class="sheet-item">
    <comp-sheet-resource
        label="Earth"
        prefix="essence_earth"
        min="0"
    ></comp-sheet-resource>
</div>

<!-- Air Essence -->
<div class="sheet-item">
    <comp-sheet-resource
        label="Air"
        prefix="essence_air"
        min="0"
    ></comp-sheet-resource>
</div>