<h2>Elixirs</h2>
<hr class="sheet-section-separator"/>

<div class="sheet-elixir">
    <h3>Gunpowder</h3>
    <div><label>Essence:</label><span>1 Fire, 1 Earth</span></div>
    <span>For the crafting process, gunpowder is considered an elixir and 100g of Gunpowder (or 1G in every blueprint) costs 1 Fire essence and 1 Earth essence to make.</span>
</div>
<div class="sheet-elixir">
    <h3>Vita</h3>
    <div><label>Essence:</label><span>1 Water, 1 Fire, 1 Earth, 1 Air</span></div>
    <span>Restores [P] health points to a creature with 0 health points that isn’t dead.</span>
</div>
<div class="sheet-elixir">
    <h3>Cura</h3>
    <div><label>Essence:</label><span>2 Water, 2 Earth</span></div>
    <span>Cures [P] stacks of poison.</span>
</div>
<div class="sheet-elixir">
    <h3>Velocitas</h3>
    <div><label>Essence:</label><span>2 Fire, 3 Air</span></div>
    <span>Grants +1 Minor Action until the start of your next turn.</span>
</div>
<div class="sheet-elixir">
    <h3>Arma</h3>
    <div><label>Essence:</label><span>5 Earth</span></div>
    <span>Adds [P] to your Default Armor Value until the start of your next turn.</span>
</div>
<div class="sheet-elixir">
    <h3>Lumos</h3>
    <div><label>Essence:</label><span>3 Fire</span></div>
    <span>When activated, it shines brightly in a 20m radius for [P] hours and is consumed at the end of that duration.</span>
</div>
<div class="sheet-elixir">
    <h3>Acidum</h3>
    <div><label>Essence:</label><span>1 Water, 3 Fire, 2 Air</span></div>
    <span>When applied to an object or creature, it takes [P] acid damage, shredding the same amount of armor.</span>
</div>
<div class="sheet-elixir">
    <h3>Baculum</h3>
    <div><label>Essence:</label><span>2 Water, 2 Earth</span></div>
    <span>Can be used as a powerful glue that requires a successful Body test against 15 + [P] or 10 + [P] acid damage to break it.</span>
</div>