<div class="sheet-character-attributes">
    <!-- Agility -->
    <comp-pc-character-attribute
        name="Agility"
        prefix="agility"
        mod="agi"
    ></comp-pc-character-attribute>

    <!-- Body -->
    <comp-pc-character-attribute
        name="Body"
        prefix="body"
        mod="bod"
    ></comp-pc-character-attribute>

    <!-- Charisma -->
    <comp-pc-character-attribute
        name="Charisma"
        prefix="charisma"
        mod="cha"
    ></comp-pc-character-attribute>

    <!-- Intuition -->
    <comp-pc-character-attribute
        name="Intuition"
        prefix="intuition"
        mod="int"
    ></comp-pc-character-attribute>

    <!-- Logic -->
    <comp-pc-character-attribute
        name="Logic"
        prefix="logic"
        mod="log"
    ></comp-pc-character-attribute>

    <!-- Willpower -->
    <comp-pc-character-attribute
        name="Willpower"
        prefix="willpower"
        mod="wil"
    ></comp-pc-character-attribute>
</div>