<div class="sheet-skills">
    <div class="sheet-character-skills-left">
        <!-- Physical Skills -->
        <table class="sheet-skill-group">
            <tr class="sheet-skill-group-head">
                <th>Physical Skills</th>
                <th>Passive</th>
                <th>Ranks</th>
                <th>Mod</th>
            </tr>
            <!-- Athletics -->
            <comp-pc-character-skill-row
                name="Athletics [BOD]"
                prefix="athletics"
            ></comp-pc-character-skill-row>
            <!-- Perception -->
            <comp-pc-character-skill-row
                name="Perception [INT]"
                prefix="perception"
            ></comp-pc-character-skill-row>
            <!-- Piloting -->
            <comp-pc-character-skill-row
                name="Piloting [AGI]"
                prefix="piloting"
            ></comp-pc-character-skill-row>
            <!-- Stealth -->
            <comp-pc-character-skill-row
                name="Stealth [AGI]"
                prefix="stealth"
            ></comp-pc-character-skill-row>
            <!-- Artisanship -->
            <comp-pc-character-skill-row
                name="Artisanship [AGI]"
                prefix="artisanship"
            ></comp-pc-character-skill-row>
        </table>
        <!-- Social Skills -->
        <table class="sheet-skill-group">
            <tr class="sheet-skill-group-head">
                <th>Social Skills</th>
                <th>Passive</th>
                <th>Ranks</th>
                <th>Mod</th>
            </tr>
            <!-- Deception -->
            <comp-pc-character-skill-row
                name="Deception [CHA]"
                prefix="deception"
            ></comp-pc-character-skill-row>
            <!-- Intimidation -->
            <comp-pc-character-skill-row
                name="Intimidation [CHA]"
                prefix="intimidation"
            ></comp-pc-character-skill-row>
            <!-- Performance -->
            <comp-pc-character-skill-row
                name="Performance [CHA]"
                prefix="performance"
            ></comp-pc-character-skill-row>
            <!-- Persuasion -->
            <comp-pc-character-skill-row
                name="Persuasion [CHA]"
                prefix="persuasion"
            ></comp-pc-character-skill-row>
        </table>
        <!-- Knowledge Skills -->
        <table class="sheet-skill-group">
            <tr class="sheet-skill-group-head">
                <th>Knowledge Skills</th>
                <th>Passive</th>
                <th>Ranks</th>
                <th>Mod</th>
            </tr>
            <!-- Astronomy -->
            <comp-pc-character-skill-row
                name="Astronomy [LOG]"
                prefix="astronomy"
            ></comp-pc-character-skill-row>
            <!-- Economy -->
            <comp-pc-character-skill-row
                name="Economy [LOG]"
                prefix="economy"
            ></comp-pc-character-skill-row>
            <!-- History -->
            <comp-pc-character-skill-row
                name="History [LOG]"
                prefix="history"
            ></comp-pc-character-skill-row>
            <!-- Literature -->
            <comp-pc-character-skill-row
                name="Literature [LOG]"
                prefix="literature"
            ></comp-pc-character-skill-row>
            <!-- Medicine -->
            <comp-pc-character-skill-row
                name="Medicine [LOG]"
                prefix="medicine"
            ></comp-pc-character-skill-row>
            <!-- Mythology -->
            <comp-pc-character-skill-row
                name="Mythology [LOG]"
                prefix="mythology"
            ></comp-pc-character-skill-row>
            <!-- Nature -->
            <comp-pc-character-skill-row
                name="Nature [LOG]"
                prefix="nature"
            ></comp-pc-character-skill-row>
            <!-- Survival -->
            <comp-pc-character-skill-row
                name="Survival [INT]"
                prefix="survival"
            ></comp-pc-character-skill-row>
        </table>
    </div>

    <div class="sheet-character-skills-right">
        <!-- Engineering Skills -->
        <table class="sheet-skill-group">
            <tr class="sheet-skill-group-head">
                <th>Engineering Skills</th>
                <th>Passive</th>
                <th>Ranks</th>
                <th>Mod</th>
            </tr>
            <!-- Clockwork Mechanics -->
            <comp-pc-character-skill-row
                name="Clockwork Mechanics [LOG]"
                prefix="clockworkmechanics"
            ></comp-pc-character-skill-row>
            <!-- Automachinery -->
            <comp-pc-character-skill-row
                name="Automachinery [LOG]"
                prefix="automachinery"
            ></comp-pc-character-skill-row>
            <!-- Augmentation -->
            <comp-pc-character-skill-row
                name="Augmentation [LOG]"
                prefix="augmentation"
            ></comp-pc-character-skill-row>
            <!-- Gunsmithing -->
            <comp-pc-character-skill-row
                name="Gunsmithing [AGI]"
                prefix="gunsmithing"
            ></comp-pc-character-skill-row>
            <!-- Tinkering -->
            <comp-pc-character-skill-row
                name="Tinkering [AGI]"
                prefix="tinkering"
            ></comp-pc-character-skill-row>
            <!-- Vehicle Mechanics -->
            <comp-pc-character-skill-row
                name="Vehicle Mechanics [BOD]"
                prefix="vehiclemechanics"
            ></comp-pc-character-skill-row>
        </table>

        <!-- Magic Skills -->
        <table class="sheet-skill-group">
            <tr class="sheet-skill-group-head">
                <th>Magic Skills</th>
                <th>Passive</th>
                <th>Ranks</th>
                <th>Mod</th>
            </tr>
            <!-- Alchemy -->
            <comp-pc-character-skill-row
                name="Alchemy [LOG]"
                prefix="alchemy"
            ></comp-pc-character-skill-row>
            <!-- Prayer -->
            <comp-pc-character-skill-row
                name="Prayer [WIL]"
                prefix="prayer"
            ></comp-pc-character-skill-row>
            <!-- Spellwork -->
            <comp-pc-character-skill-row
                name="Spellwork [WIL]"
                prefix="spellwork"
            ></comp-pc-character-skill-row>
            <!-- Runecraft -->
            <comp-pc-character-skill-row
                name="Runecraft [LOG]"
                prefix="runecraft"
            ></comp-pc-character-skill-row>
            <!-- Summoning -->
            <comp-pc-character-skill-row
                name="Summoning [WIL]"
                prefix="summoning"
            ></comp-pc-character-skill-row>
        </table>

        <!-- Combat Skills -->
        <table class="sheet-skill-group">
            <tr class="sheet-skill-group-head">
                <th>Combat Skills</th>
                <th>Passive</th>
                <th>Ranks</th>
                <th>Mod</th>
            </tr>
            <!-- Artillery -->
            <comp-pc-character-skill-row
                name="Artillery [AGI]"
                prefix="artillery"
            ></comp-pc-character-skill-row>
            <!-- Brawling -->
            <comp-pc-character-skill-row
                name="Brawling [AGI]"
                prefix="brawling"
            ></comp-pc-character-skill-row>
            <!-- Bow -->
            <comp-pc-character-skill-row
                name="Bow [AGI]"
                prefix="bow"
            ></comp-pc-character-skill-row>
            <!-- Pistol -->
            <comp-pc-character-skill-row
                name="Pistol [AGI]"
                prefix="pistol"
            ></comp-pc-character-skill-row>
            <!-- Rifle -->
            <comp-pc-character-skill-row
                name="Rifle [AGI]"
                prefix="rifle"
            ></comp-pc-character-skill-row>
            <!-- Shield -->
            <comp-pc-character-skill-row
                name="Shield [BOD]"
                prefix="shield"
            ></comp-pc-character-skill-row>
            <!-- One-Handed Melee -->
            <comp-pc-character-skill-row
                name="One-Handed Melee [AGI]"
                prefix="onehandedmelee"
            ></comp-pc-character-skill-row>
            <!-- Two-Handed Melee -->
            <comp-pc-character-skill-row
                name="Two-Handed Melee [BOD]"
                prefix="twohandedmelee"
            ></comp-pc-character-skill-row>
        </table>
    </div>
</div>