<div class="sheet-character-attributes">
    <div class="sheet-attribute">
        <comp-npc-attribute
            label="Agility"
            prefix="agility"
            mod="agi"
        ></comp-npc-attribute>
    </div>

    <div class="sheet-attribute">
        <comp-npc-attribute
            label="Body"
            prefix="body"
            mod="bod"
        ></comp-npc-attribute>
    </div>

    <div class="sheet-attribute">
        <comp-npc-attribute
            label="Charisma"
            prefix="charisma"
            mod="cha"
        ></comp-npc-attribute>
    </div>

    <div class="sheet-attribute">
        <comp-npc-attribute
            label="Intuition"
            prefix="intuition"
            mod="int"
        ></comp-npc-attribute>
    </div>

    <div class="sheet-attribute">
        <comp-npc-attribute
            label="Logic"
            prefix="logic"
            mod="log"
        ></comp-npc-attribute>
    </div>

    <div class="sheet-attribute">
        <comp-npc-attribute
            label="Willpower"
            prefix="willpower"
            mod="wil"
        ></comp-npc-attribute>
    </div>
</div>