<div class="sheet-inventory-right">
    <!-- Fire Essence -->
    <div class="sheet-inventory-material">
        <div class="sheet-resource">
            <input type="number" name="attr_essence_fire" min="0" />
        </div>
        <label class="sheet-resource-label">Fire</label>
    </div>

    <!-- Water Essence -->
    <div class="sheet-inventory-material">
        <div class="sheet-resource">
            <input type="number" name="attr_essence_water" min="0" />
        </div>
        <label class="sheet-resource-label">Water</label>
    </div>

    <!-- Earth Essence -->
    <div class="sheet-inventory-material">
        <div class="sheet-resource">
            <input type="number" name="attr_essence_earth" min="0" />
        </div>
        <label class="sheet-resource-label">Earth</label>
    </div>

    <!-- Air Essence -->
    <div class="sheet-inventory-material">
        <div class="sheet-resource">
            <input type="number" name="attr_essence_air" min="0" />
        </div>
        <label class="sheet-resource-label">Air</label>
    </div>
</div>