<div class="sheet-inventory-left">
    <!-- Bolts -->
    <div class="sheet-inventory-material">
        <comp-sheet-resource
            upperLabel="Bolts"
            min="0"
            prefix="bolts"
        ></comp-sheet-resource>
    </div>

    <!-- Plates -->
    <div class="sheet-inventory-material">
        <comp-sheet-resource
            upperLabel="Plates"
            min="0"
            prefix="plates"
        ></comp-sheet-resource>
    </div>

    <!-- Wires -->
    <div class="sheet-inventory-material">
        <comp-sheet-resource
            upperLabel="Wires"
            min="0"
            prefix="wires"
        ></comp-sheet-resource>
    </div>

    <!-- Cogs -->
    <div class="sheet-inventory-material">
        <comp-sheet-resource
            upperLabel="Cogs"
            min="0"
            prefix="cogs"
        ></comp-sheet-resource>
    </div>

    <!-- Rods -->
    <div class="sheet-inventory-material">
        <comp-sheet-resource
            label="Rods"
            min="0"
            prefix="rods"
        ></comp-sheet-resource>
    </div>

    <!-- Lenses -->
    <div class="sheet-inventory-material">
        <comp-sheet-resource
            label="Lenses"
            min="0"
            prefix="lenses"
        ></comp-sheet-resource>
    </div>

    <!-- Gunpowder -->
    <div class="sheet-inventory-material">
        <comp-sheet-resource
            label="Gunpowder"
            min="0"
            prefix="gunpowder"
        ></comp-sheet-resource>
    </div>
</div>