<h2>Money</h2>
<hr class="sheet-section-separator" />

<div class="sheet-money-row">
    <input type="number" name="attr_imperialPounds" min="0" value="0" />
    <span class="sheet-currency-symbol">£</span>
    <input type="number" name="attr_imperialShillings" min="0" value="0" />
    <span class="sheet-currency-symbol">s</span>
    <input type="number" name="attr_imperialPence" min="0" value="0" />
    <span class="sheet-currency-symbol">d</span>
    <input type="number" name="attr_imperialFarthings" min="0" value="0" />
    <span class="sheet-currency-symbol">f</span>
</div>

<h2>Debt</h2>
<hr class="sheet-section-separator" />
<fieldset class="repeating_debt">
    <input type="text" name="attr_debt_creditor" placeholder="Creditor" />
    <input type="text" name="attr_debt_dueBy" placeholder="due by" />
    <div class="sheet-money-row">
        <input type="number" name="attr_debt_imperialPounds" min="0" value="0" />
        <span class="sheet-currency-symbol">£</span>
        <input type="number" name="attr_debt_imperialShillings" min="0" value="0" />
        <span class="sheet-currency-symbol">s</span>
        <input type="number" name="attr_debt_imperialPence" min="0" value="0" />
        <span class="sheet-currency-symbol">d</span>
        <input type="number" name="attr_debt_imperialFarthings" min="0" value="0" />
        <span class="sheet-currency-symbol">f</span>
    </div>
</fieldset>