<div class="sheet-inventory-left">
    <!-- Bolts -->
    <div class="sheet-inventory-material">
        <label class="sheet-resource-label">Bolts</label>
        <div class="sheet-resource">
            <input type="number" name="attr_bolts" min="0" />
        </div>
    </div>

    <!-- Plates -->
    <div class="sheet-inventory-material">
        <label class="sheet-resource-label">Plates</label>
        <div class="sheet-resource">
            <input type="number" name="attr_plates" min="0" />
        </div>
    </div>

    <!-- Wires -->
    <div class="sheet-inventory-material">
        <label class="sheet-resource-label">Wires</label>
        <div class="sheet-resource">
            <input type="number" name="attr_wires" min="0" />
        </div>
    </div>

    <!-- Cogs -->
    <div class="sheet-inventory-material">
        <label class="sheet-resource-label">Cogs</label>
        <div class="sheet-resource">
            <input type="number" name="attr_cogs" min="0" />
        </div>
    </div>

    <!-- Rods -->
    <div class="sheet-inventory-material">
        <div class="sheet-resource">
            <input type="number" name="attr_rods" min="0" />
        </div>
        <label class="sheet-resource-label">Rods</label>
    </div>

    <!-- Lenses -->
    <div class="sheet-inventory-material">
        <div class="sheet-resource">
            <input type="number" name="attr_lenses" min="0" />
        </div>
        <label class="sheet-resource-label">Lenses</label>
    </div>

    <!-- Gunpowder -->
    <div class="sheet-inventory-material">
        <div class="sheet-resource">
            <input type="number" name="attr_gunpowder" min="0" />
        </div>
        <label class="sheet-resource-label">Gunpowder</label>
    </div>
</div>