<div class="sheet-inventory-right">
    <!-- Fire Essence -->
    <div class="sheet-inventory-material">
        <comp-sheet-resource
            label="Fire"
            min="0"
            prefix="essence_fire"
        ></comp-sheet-resource>
    </div>

    <!-- Water Essence -->
    <div class="sheet-inventory-material">
        <comp-sheet-resource
            label="Water"
            min="0"
            prefix="essence_water"
        ></comp-sheet-resource>
    </div>

    <!-- Earth Essence -->
    <div class="sheet-inventory-material">
        <comp-sheet-resource
            label="Earth"
            min="0"
            prefix="essence_earth"
        ></comp-sheet-resource>
    </div>

    <!-- Air Essence -->
    <div class="sheet-inventory-material">
        <comp-sheet-resource
            label="Air"
            min="0"
            prefix="essence_air"
        ></comp-sheet-resource>
    </div>
</div>