<input type="hidden" class="sheet-pc-tabstoggle" name="attr_pcTab" value="pc" />
<input type="hidden" name="attr_agileBonus" value="0" />
<input type="hidden" name="attr_analyticalMindBonus" value="0" />
<input type="hidden" name="attr_educatedBonus" value="0" />
<input type="hidden" name="attr_quickReflexesBonus" value="0" />
<input type="hidden" name="attr_toughBonus" value="0" />
<input type="hidden" name="attr_sneakyBonus" value="0" />
<input type="hidden" name="attr_inspiringPresenceBonus" value="0" />
<input type="hidden" name="attr_strongBonus" value="0" />
<input type="hidden" name="attr_silverTongueBonus" value="0" />
<input type="hidden" name="attr_addictPenalty" value="0" />
<input type="hidden" name="attr_clumsyPenalty" value="0" />
<input type="hidden" name="attr_dullPenalty" value="0" />
<input type="hidden" name="attr_fragilePenalty" value="0" />
<input type="hidden" name="attr_weakPenalty" value="0" />
<input type="hidden" name="attr_sociallyIneptPenalty" value="0" />