<div class="sheet-npc">
    <h2>NPC</h2>

    <div class="sheet-character-basics">
        <!-- Name -->
        <div>
            <input type="text" name="attr_character_name" />
            <label>Name</label>
        </div>

        <!-- Power Level -->
        <div>
            <input type="number" name="attr_npc_powerLevel" value="0" />
            <label>Power Level</label>
        </div>

        <!-- Size -->
        <div>
            <select name="attr_npc_size">
                <option>Tiny</option>
                <option>Small</option>
                <option selected>Medium</option>
                <option>Large</option>
                <option>Huge</option>
                <option>Gargantuan</option>
                <option>Colossal</option>
            </select>
            <label>Size</label>
        </div>

        <!-- Sanctity -->
        <div>
            <select name="attr_npc_sanctity">
                <option selected>-</option>
                <option>Holy</option>
                <option>Unholy</option>
            </select>
            <label>Sanctity</label>
        </div>

        <!-- Type -->
        <div class="sheet-npc-type">
            <select name="attr_npc_type">
                <option selected value="human">Human</option>
                <option value="animal">Animal</option>
                <option value="mythological">Mythological</option>
            </select>
            <label>Type</label>
        </div>

        <!-- Subtype -->
        <div class="sheet-npc-subtype">
            <select name="attr_npc_subtype">
                <option selected>-</option>
                <option>Angel</option>
                <option>Deity</option>
                <option>Demon</option>
                <option>Risen</option>
                <option>Chimera</option>
                <option>Cryptid</option>
                <option>Monster</option>
                <option>Spirit</option>
            </select>
            <label>Subtype</label>
        </div>
    </div>

    <hr class="sheet-separator" />
    
    <div class="sheet-npc-topline">
        <!-- HP -->
        <div class="sheet-item">
            <div class="sheet-resource">
                <input type="number" min="0" name="attr_npc_hp" value="0"/>
                <input type="number" min="0" name="attr_npc_hp_max" value="0"/>
            </div>
            <label class="sheet-resource-label">HP</label>
            <span class="sheet-resource-calculation">(Body + (Hit Die Max / 2)) × Power Level</span>
        </div>

        <!-- Hit Die -->
        <div class="sheet-item" name="hitdie">
            <div class="sheet-resource-hitdie">
                <select name="attr_hitdie">
                    <option>d4</option>
                    <option selected>d6</option>
                    <option>d8</option>
                    <option>d10</option>
                    <option>d12</option>
                    <option>d20</option>
                </select>
            </div>
            <label class="sheet-resource-label">Hit Die</label>
        </div>

        <!-- Initiative -->
        <div class="sheet-item">
            <button type="action" name="act_initiative" class="sheet-rollable-mod">
                <span name="attr_initiative"></span>
            </button>
            <label class="sheet-resource-label">Initiative</label>
            <span class="sheet-resource-calculation">AGI + INT</span>
        </div>

        <!-- Evasion -->
        <div class="sheet-item">
            <button type="action" name="act_evasion" class="sheet-rollable-mod">
                <span name="attr_evasion"></span>
            </button>
            <label class="sheet-resource-label">Evasion</label>
            <span class="sheet-resource-calculation">AGI + INT</span>
        </div>

        <!-- DAV -->
        <div class="sheet-item">
            <div class="sheet-resource">
                <input type="number" name="attr_npc_dav" min="0">0</input>
            </div>
            <label class="sheet-resource-label">DAV</label>
            <span class="sheet-resource-calculation">Torso AV</span>
        </div>
    </div>

    <hr class="sheet-separator" />

    <comp-npc-attributes></comp-npc-attributes>

    <comp-npc-attacks></comp-npc-attacks>
</div>