<div class="sheet-pc">
    <!-- Tabs -->
    <input type="hidden" class="sheet-tabstoggle" name="attr_sheetTab" value="0" />
    <div>
        <button type="action" name="act_characterTab" class="sheet-button0">Character</button>
        <button type="action" name="act_combatTab" class="sheet-button1">Combat</button>
        <button type="action" name="act_qualitiesTab" class="sheet-button2">Qualities</button>
        <button type="action" name="act_inventoryTab" class="sheet-button3">Inventory</button>
        <button type="action" name="act_prayerTab" class="sheet-button4">Prayer</button>
        <button type="action" name="act_witchcraftTab" class="sheet-button5">Witchcraft</button>
        <button type="action" name="act_alchemyTab" class="sheet-button6">Alchemy</button>
        <button type="action" name="act_engineeringTab" class="sheet-button7">Engineering</button>
        <button type="action" name="act_augmentationsTab" class="sheet-button8">Augmentations</button>
        <button type="action" name="act_notesTab" class="sheet-button9">Notes</button>
    </div>

    <!-- Character -->
    <div class="sheet-tab0 sheet-page">
        <comp-pc-character></comp-pc-character>
    </div>

    <!-- Combat -->
    <div class="sheet-tab1 sheet-page">
        <comp-pc-combat></comp-pc-combat>
    </div>

    <!-- Qualities -->
    <div class="sheet-tab2 sheet-page">
        <comp-pc-qualities></comp-pc-qualities>
    </div>

    <!-- Inventory -->
    <div class="sheet-tab3 sheet-page">
        <comp-pc-inventory></comp-pc-inventory>
    </div>

    <!-- Prayer -->
    <div class="sheet-tab4 sheet-page">
        <comp-pc-prayer></comp-pc-prayer>
    </div>

    <!-- Witchcraft -->
    <div class="sheet-tab5 sheet-page">
        <comp-pc-witchcraft></comp-pc-witchcraft>
    </div>

    <!-- Alchemy -->
    <div class="sheet-tab6 sheet-page">
        <comp-pc-alchemy></comp-pc-alchemy>
    </div>

    <!-- Engineering -->
    <div class="sheet-tab7 sheet-page">
        <comp-pc-engineering></comp-pc-engineering>
    </div>
    
    <!-- Augmentations -->
    <div class="sheet-tab8 sheet-page">
        <comp-pc-augmentations></comp-pc-augmentations>
    </div>

    <!-- Notes -->
    <div class="sheet-tab9 sheet-page">
        <comp-pc-notes></comp-pc-notes>
    </div>
</div>