<div class="sheet-engineering-topline">
    <!-- Quality -->
    <div class="sheet-item">
        <comp-sheet-resource
            label="Quality"
            prefix="augmentation"
            readonly="true"
        ></comp-sheet-resource>
    </div>

    <!-- Bolts -->
    <div class="sheet-item">
        <comp-sheet-resource
            label="Bolts"
            prefix="bolts"
            min="0"
        ></comp-sheet-resource>
    </div>

    <!-- Plates -->
    <div class="sheet-item">
        <comp-sheet-resource
            label="Plates"
            prefix="plates"
            min="0"
        ></comp-sheet-resource>
    </div>

    <!-- Wires -->
    <div class="sheet-item">
        <comp-sheet-resource
            label="Wires"
            prefix="wires"
            min="0"
        ></comp-sheet-resource>
    </div>

    <!-- Cogs -->
    <div class="sheet-item">
        <comp-sheet-resource
            label="Cogs"
            prefix="cogs"
            min="0"
        ></comp-sheet-resource>
    </div>

    <!-- Rods -->
    <div class="sheet-item">
        <comp-sheet-resource
            label="Rods"
            prefix="rods"
            min="0"
        ></comp-sheet-resource>
    </div>

    <!-- Lenses -->
    <div class="sheet-item">
        <comp-sheet-resource
            label="Lenses"
            prefix="lenses"
            min="0"
        ></comp-sheet-resource>
    </div>
</div>