<div class="sheet-witchcraft-topline">
    <!-- SRD -->
    <div class="sheet-item">
        <comp-sheet-resource
            label="SRD"
            calculation="10 + WIL + Spellwork"
            prefix="srd"
            readonly="true"
        ></comp-sheet-resource>
    </div>

    <!-- Runecraft -->
    <div class="sheet-item">
        <comp-sheet-resource
            label="Runecraft"
            prefix="runecraft"
            readonly="true"
        ></comp-sheet-resource>
    </div>

    <comp-sheet-essence></comp-sheet-essence>
</div>