<h2>Clockwork Mechanics R<span name="attr_clockworkmechanics">0</span></h2>

<input type="hidden" class="sheet-tabstoggle" name="attr_cwmTab" value="blueprints" />
<div>
    <button type="action" name="act_gadgets" class="sheet-button0">Clockwork Gadgets</button>
    <button type="action" name="act_cwmodules" class="sheet-button1">Clockwork Modules</button>
</div>

<!-- Clockwork Gadgets -->
<div class="sheet-tab0 sheet-cwm-gadgets">
    <comp-pc-engineering-clockwork-mechanics-gadgets></comp-pc-engineering-clockwork-mechanics-gadgets>
</div>

<!-- Clockwork Modules -->
<div class="sheet-tab1 sheet-cwm-artificing">
    <comp-pc-engineering-clockwork-mechanics-modules></comp-pc-engineering-clockwork-mechanics-modules>
</div>