<h2>Automachinery R<span name="attr_automachinery">0</span></h2>
<input type="hidden" class="sheet-tabstoggle" name="attr_automachineryTab" value="blueprints" />
<div>
    <button type="action" name="act_blueprintsautomachinery" class="sheet-button0">Blueprints</button>
    <button type="action" name="act_automatons" class="sheet-button1">Automatons</button>
</div>

<!-- Blueprints -->
<div class="sheet-tab0 sheet-cwm-blueprints">
    <comp-pc-engineering-automachinery-blueprints></comp-pc-engineering-automachinery-blueprints>
</div>

<!-- Automatons -->
<div class="sheet-tab1 sheet-automachinery-automatons">
    <comp-pc-engineering-automachinery-automatons></comp-pc-engineering-automachinery-automatons>
</div>