<table class="sheet-armor-table">
    <tr>
        <th>Body Part</th>
        <th>Equipment/Armor</th>
        <th>Base<br>AV</th>
        <th>Augm. AV</th>
        <th>Total AV</th>
    </tr>
    <!-- Head -->
    <comp-pc-combat-armor-row
        name="Head"
        prefix="head"
    ></comp-pc-combat-armor-row>
    <!-- Left Eye -->
    <comp-pc-combat-armor-row
        name="Left Eye"
        prefix="leftEye"
    ></comp-pc-combat-armor-row>
    <!-- Right Eye -->
    <comp-pc-combat-armor-row
        name="Right Eye"
        prefix="rightEye"
    ></comp-pc-combat-armor-row>
    <!-- Torso -->
    <comp-pc-combat-armor-row
        name="Torso"
        prefix="torso"
    ></comp-pc-combat-armor-row>
    <!-- Left Arm -->
    <comp-pc-combat-armor-row
        name="Left Arm"
        prefix="leftArm"
    ></comp-pc-combat-armor-row>
    <!-- Right Arm -->
    <comp-pc-combat-armor-row
        name="Right Arm"
        prefix="rightArm"
    ></comp-pc-combat-armor-row>
    <!-- Left Hand -->
    <comp-pc-combat-armor-row
        name="Left Hand"
        prefix="leftHand"
    ></comp-pc-combat-armor-row>
    <!-- Right Hand -->
    <comp-pc-combat-armor-row
        name="Right Hand"
        prefix="rightHand"
    ></comp-pc-combat-armor-row>
    <!-- Left Leg -->
    <comp-pc-combat-armor-row
        name="Left Leg"
        prefix="leftLeg"
    ></comp-pc-combat-armor-row>
    <!-- Right Leg -->
    <comp-pc-combat-armor-row
        name="Right Leg"
        prefix="rightLeg"
    ></comp-pc-combat-armor-row>
    <!-- Left Foot -->
    <comp-pc-combat-armor-row
        name="Left Foot"
        prefix="leftFoot"
    ></comp-pc-combat-armor-row>
    <!-- Right Foot -->
    <comp-pc-combat-armor-row
        name="Right Foot"
        prefix="rightFoot"
    ></comp-pc-combat-armor-row>
</table>