<table class="sheet-armor-table">
    <tr>
        <th>Body Part</th>
        <th>Equipment/Armor</th>
        <th>Base<br>AV</th>
        <th>Augm. AV</th>
        <th>Total AV</th>
    </tr>
    <!-- Head -->
    <tr>
        <td>Head</td>
        <td>
            <input type="text" name="attr_headArmor" />
        </td>
        <td>
            <input type="number" name="attr_headAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_headAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_headTotalAV">0</span>
        </td>
    </tr>
    <!-- Left Eye -->
    <tr>
        <td>Left Eye</td>
        <td>
            <input type="text" name="attr_leftEyeArmor" />
        </td>
        <td>
            <input type="number" name="attr_leftEyeAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_leftEyeAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_leftEyeTotalAV">0</span>
        </td>
    </tr>
    <!-- Right Eye -->
    <tr>
        <td>Right Eye</td>
        <td>
            <input type="text" name="attr_rightEyeArmor" />
        </td>
        <td>
            <input type="number" name="attr_rightEyeAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_rightEyeAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_rightEyeTotalAV">0</span>
        </td>
    </tr>
    <!-- Torso -->
    <tr>
        <td>Torso</td>
        <td>
            <input type="text" name="attr_torsoArmor" />
        </td>
        <td>
            <input type="number" name="attr_torsoAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_torsoAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_torsoTotalAV">0</span>
        </td>
    </tr>
    <!-- Left Arm -->
    <tr>
        <td>Left Arm</td>
        <td>
            <input type="text" name="attr_leftArmArmor" />
        </td>
        <td>
            <input type="number" name="attr_leftArmAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_leftArmAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_leftArmTotalAV">0</span>
        </td>
    </tr>
    <!-- Right Arm -->
    <tr>
        <td>Right Arm</td>
        <td>
            <input type="text" name="attr_rightArmArmor" />
        </td>
        <td>
            <input type="number" name="attr_rightArmAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_rightArmAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_rightArmTotalAV">0</span>
        </td>
    </tr>
    <!-- Left Hand -->
    <tr>
        <td>Left Hand</td>
        <td>
            <input type="text" name="attr_leftHandArmor" />
        </td>
        <td>
            <input type="number" name="attr_leftHandAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_leftHandAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_leftHandTotalAV">0</span>
        </td>
    </tr>
    <!-- Right Hand -->
    <tr>
        <td>Right Hand</td>
        <td>
            <input type="text" name="attr_rightHandArmor" />
        </td>
        <td>
            <input type="number" name="attr_rightHandAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_rightHandAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_rightHandTotalAV">0</span>
        </td>
    </tr>
    <!-- Left Leg -->
    <tr>
        <td>Left Leg</td>
        <td>
            <input type="text" name="attr_leftLegArmor" />
        </td>
        <td>
            <input type="number" name="attr_leftLegAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_leftLegAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_leftLegTotalAV">0</span>
        </td>
    </tr>
    <!-- Right Leg -->
    <tr>
        <td>Right Leg</td>
        <td>
            <input type="text" name="attr_rightLegArmor" />
        </td>
        <td>
            <input type="number" name="attr_rightLegAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_rightLegAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_rightLegTotalAV">0</span>
        </td>
    </tr>
    <!-- Left Foot -->
    <tr>
        <td>Left Foot</td>
        <td>
            <input type="text" name="attr_leftFootArmor" />
        </td>
        <td>
            <input type="number" name="attr_leftFootAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_leftFootAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_leftFootTotalAV">0</span>
        </td>
    </tr>
    <!-- Right Foot -->
    <tr>
        <td>Right Foot</td>
        <td>
            <input type="text" name="attr_rightFootArmor" />
        </td>
        <td>
            <input type="number" name="attr_rightFootAV" min="0" value="0" />
        </td>
        <td>
            <span name="attr_rightFootAugmentAV">+0</span>
        </td>
        <td>
            <span name="attr_rightFootTotalAV">0</span>
        </td>
    </tr>
</table>