<h2>Death Tests</h2>
<hr class="sheet-section-separator"/>
<div class="sheet-deathtests">
    <div class="sheet-deathtest-success">
        <input type="checkbox" name="attr_deathsuccess1"/>
    </div>
    <div class="sheet-deathtest-success">
        <input type="checkbox" name="attr_deathsuccess2"/>
    </div>
    <div class="sheet-deathtest-success">
        <input type="checkbox" name="attr_deathsuccess3"/>
    </div>
</div>
<label>Successes</label>
<div class="sheet-deathtests">
    <div class="sheet-deathtest-success">
        <input type="checkbox" name="attr_deathfailure1"/>
    </div>
    <div class="sheet-deathtest-success">
        <input type="checkbox" name="attr_deathfailure2"/>
    </div>
    <div class="sheet-deathtest-success">
        <input type="checkbox" name="attr_deathfailure3"/>
    </div>
</div>
<label>Failures</label>