<div class="sheet-combat-topline">
    <!-- HP -->
    <div class="sheet-item">
        <div class="sheet-resource">
            <input type="number" max="attr_hp_max" min="0" name="attr_hp" value="0"/>
            <span name="attr_hp_max">0</span>
        </div>
        <label class="sheet-resource-label">HP</label>
        <span class="sheet-resource-calculation">(Body + (Hit Die Max / 2)) × Level</span>
    </div>

    <!-- Hit Die -->
    <div class="sheet-item" name="hitdie">
        <button type="action" name="act_hitdie" class="sheet-resource-hitdie">
            <span name="attr_hitdie"></span>
        </button>
        <label class="sheet-resource-label">Hit Die</label>
    </div>

    <!-- Initiative -->
    <div class="sheet-item">
        <button type="action" name="act_initiative" class="sheet-rollable-mod">
            <span name="attr_initiative"></span>
        </button>
        <label class="sheet-resource-label">Initiative</label>
        <span class="sheet-resource-calculation">AGI + INT</span>
    </div>

    <!-- Evasion -->
    <div class="sheet-item">
        <button type="action" name="act_evasion" class="sheet-rollable-mod">
            <span name="attr_evasion"></span>
        </button>
        <label class="sheet-resource-label">Evasion</label>
        <span class="sheet-resource-calculation">AGI + INT</span>
    </div>

    <!-- DAV -->
    <div class="sheet-item">
        <div class="sheet-resource">
            <span name="attr_dav">0</span>
        </div>
        <label class="sheet-resource-label">DAV</label>
        <span class="sheet-resource-calculation">Torso AV</span>
    </div>
</div>