<div class="sheet-actions">
    <!-- Prayer of Faith -->
    <input class="sheet-action-condition" type="checkbox" name="attr_show_prayeroffaith" />
    <button class="sheet-action" type="action" name="act_prayeroffaith">
        <b>1 hour</b>
        <br>
        Prayer of Faith
    </button>
    <!-- Work Miracle -->
    <input class="sheet-action-condition" type="checkbox" name="attr_show_workmiracle" />
    <button class="sheet-action" type="action" name="act_workmiracle">
        <b>Minor Reaction</b>
        <br>
        Work Miracle
    </button>
    <!-- Repel the Unholy -->
    <input class="sheet-action-condition" type="checkbox" name="attr_show_repelunholy" />
    <button class="sheet-action" type="action" name="act_repelunholy">
        <b>Major Action</b>
        <br>
        Repel the Unholy
    </button>
    <!-- Identify Curse -->
    <input class="sheet-action-condition" type="checkbox" name="attr_show_identifycurse" />
    <button class="sheet-action" type="action" name="act_identifycurse">
        <b>Major Action</b>
        <br>
        Identify Curse
    </button>
    <!-- Lift Curse -->
    <input class="sheet-action-condition" type="checkbox" name="attr_show_liftcurse" />
    <button class="sheet-action" type="action" name="act_liftcurse">
        <b>Major Action</b>
        <br>
        Lift Curse
    </button>
</div>